.box {
  width: 250px;
  height: 250px;
}

.container {

  height: 500px;
  background-color: salmon;
  position: relative;

}

.box1 {
  background-color: violet;
  position: absolute;
  z-index: 2;
  width: 50px;
  height: 50px;

  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}

.box2 {
  background-color: orange;
  position: absolute;
  margin-top: 5rem;

  z-index: 1;
}

.box3 {
  position: fixed;
  background-color: green;
  width: 50px;
  height: 50px;
 bottom: 2rem;
  right: 1rem;

}