.cercle {
    width: 250px;
    height: 250px;
    border-radius: 50%;
    background-color: lightgreen;
    transition: background-color 0.6 ease;
  }

  .carre {

    margin-top : 20pxmerci;
    width: 250px;
    height: 250px;
    background-color: lightblue;
    transition: background-color 0.6 ease;
  }