body {

    height: 100vh;
}


.box {
    background-color: red;
    width: 50%;
    height: 50%;

}

.box1 {
    background-color: aqua;
    width: 100%;
    max-width: 750px;
    min-width: 500px;
    height: 100%;
    max-height: 300px;
    min-height: 150px;
}