span {
    display: inline-block;
    width: 250px;
    height: 250px;
    background-color: orange;
}

h1 {
    display: inline;
    background-color: violet;
}

.box {
    width: 300px;
    height: 80px;
    background-color: yellow;
    display: flex;
    display: grid;
    display: table;
    display: none;
}

.box2 {
    background-color: salmon;
    display: inline-block;
    display: inline-flex;
    display: inline-grid;
    display: inline-table;

    display: inherit;
}