p {
/* Noms des couleurs */
color: green;

/* Héxadécimal */
color: #503131;

/* RGB */
color: rgb(0, 0, 0);

/* RGBA */
color: rgba(0, 0, blue, 0.2);

/* HSL */
color: hsl(39, 100%, 50%);

/* HWB */
color: hwb(39, 0%, 0%);

/*  Fonds d'écrans */
background-color: #fff;
/* La suite p   areile que pour color */

}